<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>

  <% include templates/header.ejs %>
  
  <h3>About</h3>

  <p>Hi my name is <%= name %>.</p>
</body>
</html>